<% provide(:title, 'About') %>
<h1>About</h1>
<p>
  <a href="https://railstutotial.jp/">Ruby on Rails Tutorial</a>
  is a <a href="https://railstutorial.jp/#ebook">book</a> and
  <a href="https://railstutorial.jp/#screencast">screencast</a>
  to teach web development with
  <a href="https://rubyonrails.org/">Ruby on Rails</a>.
  This is a sample application for the tutorial.
</p>
